<div class="row">

    <section class="main col-md-9">
        <article>
            <h2>Emy Yeung -"the developer"</h2>
            <p>Hi, There,</p>
            <p>
                My name is Emy Yeung and I'm currently studying Computer Programming at Seneca College of Applied Arts & Technology.
            </p>

            <p>
                This is my third semester. Now I am taking WEB322 related HTML, JavaScript, CSS, node.js server, and Express framework. currently,
                I'm in the process of mastering the MEAN stack. I will be a full-stack JavaScript developer and continue
                to learn and expand my experience to include all the amazing new dev tools, enviroments, libraries, and design
                methodologies available to the full-stack/MEAN developer. I will graduate May, 2018.
            </p>
            <p>
                Enjoy browsering my app! If you have any question, or ar in need of JS dev for your project, please contact me at emyzheng80@gmail.com.
            </p>
            <p>
                Sincerely,
            </p>
            <p>
                Emy Yeung
            </p>
        </article>
    </section>

</div>