<!DOCTYPE  html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css"
        type="text/css" />
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>myApp</h1>
                </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li> <a href="/">Home</a> </li>
                        <li> <a href="/about">About</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
           
            <section class="main col-md-9">
                <article>
                    <h2>Emy Yeung -"the developer"</h2>
                    <p>Hi, There,</p>
                    <p>
                        My name is Emy Yeung and I'm currently studying Computer Programming at Seneca College of Applied Arts & Technology.
                    </p>

                    <p>
                        This is my third semester. Now I am taking WEB322 related HTML, JavaScript, CSS, node.js server, and Express framework. currently,
                        I'm in the process of mastering the MEAN stack. I will be a full-stack JavaScript developer and continue
                        to learn and expand my experience to include all the amazing new dev tools, enviroments, libraries,
                        and design methodologies available to the full-stack/MEAN developer. I will graduate May, 2018.
                    </p>
                    <p>
                        Enjoy browsering my app! If you have any question, or ar in need of JS dev for your project, please contact me at emyzheng80@gmail.com.
                    </p>
                    <p>
                        Sincerely,
                    </p>
                    <p>
                        Emy Yeung
                    </p>
                </article>
            </section>

        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>© 2017 - Emy Yeung</h2>
                </div>
            </div>
        </div>
    </footer>
</body>
</body>

</html>